<style>

</style>

<link rel="stylesheet" href="/css/login.css">

<section class="auth-section">
  <h2>Login to CampusNotes</h2>
  
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
  </form>
<hr>
  <p>or</p>

  <a href="/auth/linkedin" class="linkedin-login-btn">
    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" width="20" style="vertical-align: middle; margin-right: 8px;">
    Continue with LinkedIn
  </a>
</section>
