<link rel="stylesheet" href="/css/login.css">
<style>
  .g_id_signin div{
    background-color: #0a66c2;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
  }
  .g_id_signin div:hover{
    background-color: #0855a2;
    color: white;
    border-radius: 20px;
  }
</style>


<section class="auth-section">

  <!-- Google Sign-In -->
  <div id="g_id_onload"
       data-client_id="466885260272-86cp1p5tkpsspvrdp8n79h0gbfob48qq.apps.googleusercontent.com"
       data-context="signin"
       data-login_uri="http://localhost:3000/oauth2callback"
       data-auto_select="true"
       data-itp_support="true">
  </div>
  <div class="g_id_signin" data-type="standard"></div>

  <p>or</p>

  <h2>Login to CampusNotes</h2>
  
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
  </form>

  <span>Not a Member yet? Register <a href="/register-n">here</a></span>
  

</section>


<!-- Google Identity Script -->
<script src="https://accounts.google.com/gsi/client" async></script>

<script>
  function decodeJWT(token) {
    let base64Url = token.split(".")[1];
    let base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
    let jsonPayload = decodeURIComponent(
      atob(base64)
        .split("")
        .map(c => "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2))
        .join("")
    );
    return JSON.parse(jsonPayload);
  }

  function handleCredentialResponse(response) {
  console.log("Encoded JWT ID token:", response.credential);
  const responsePayload = decodeJWT(response.credential);
  console.log("Decoded JWT:", responsePayload);

      // ✅ Send to backend
    fetch("/oauth2callback", {
      method: "POST",
      body: JSON.stringify({ credential: response.credential }),
      headers: { "Content-Type": "application/json" }
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        window.location.href = `/profile/${data.userId}`;
      }
    });
  }



  window.onload = function () {
    google.accounts.id.initialize({
      client_id: "466885260272-86cp1p5tkpsspvrdp8n79h0gbfob48qq.apps.googleusercontent.com",
      callback: handleCredentialResponse
    });
    google.accounts.id.renderButton(
      document.querySelector(".g_id_signin"),
      { theme: "outline", size: "large" }
    );
  };
</script>
