<footer class="site-footer">

      <div class="footer-top">
        <a href="/" class="brand">CampusNotes</a>
    </div>

  <div class="footer-columns">
    <div class="footer-col">
      <h5>Products</h5>
      <ul>
        <li><a href="/upload">Notes Upload</a></li>
        <li><a href="/rankings">Contributor Leaderboard</a></li>

      </ul>
    </div>
    <div class="footer-col">
      <h5>Get Started</h5>
      <ul>
        <li><a href="/login-n">Login</a></li>
        <li><a href="/register-n">Signup</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Company</h5>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Connect</h5>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="https://discord.gg/UJHJXebj">Discord</a></li>
        <li><a href="#">Help Center</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 CampusNotes@bitBros. All rights reserved.</p>
    <p>V.0.0.1</p>
  </div>
</footer>
