<nav class="navbar" style="
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 99;
background: white;
">
  <div class="containerr">
    <a href="/" class="brand">CampusNotes</a>

    <button class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav-links" id="nav-links">
      <% if (!currUser) { %>
        <a href="/login-n" class="nav-a">Login</a>
        <a href="/register-n" class="nav-a">Signup</a>
        <a href="/requestnotes" class="nav-a">Request Notes</a>
        <a href="/explore" class="nav-a">Explore</a>
        <a href="/rankings" class="nav-a">Rankings</a>
        <a href="/upload" class="nav-a">Upload</a>
        <a href="/most-voted" class="nav-a">Most Voted Notes</a>
        

      <% } else { %>
        <a href="/rankings" class="nav-a">Rankings</a>
        <a href="/profile/<%= currUser._id %>" class="nav-a">Profile</a>
        <a href="/requestnotes" class="nav-a">Request Notes</a>
        <a href="/explore" class="nav-a">Explore</a>
        <a href="/upload" class="nav-a">Upload</a>
        <a href="/most-voted" class="nav-a">Most Voted Notes</a>
        <% if(currUser.roles.isModerator) {%>
          <a href="/admin/verify-notes" class="nav-a">Verify Notes</a>

        <% } %>
        <a href="/logout" class="nav-a">Logout</a>
      <% } %>
    </ul>
  </div>
</nav>
