<nav class="navbar">
  <div class="containerr">
    <a href="/" class="brand">CampusNotes</a>

    <button class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav-links" id="nav-links">
      <% if (!currUser) { %>
        <a href="/login-n" class="nav-a">Login</a>
        <a href="/register-n" class="nav-a">Signup</a>
        <a href="/explore" class="nav-a">Explore</a>
        <a href="/rankings" class="nav-a">Rankings</a>
        <a href="/upload" class="nav-a">Upload</a>
      <% } else { %>
        <a href="/rankings" class="nav-a">Rankings</a>
        <a href="/profile/<%= currUser._id %>" class="nav-a">Profile</a>
        <a href="/explore" class="nav-a">Explore</a>
        <a href="/upload" class="nav-a">Upload</a>
        <a href="/logout" class="nav-a">Logout</a>
      <% } %>
    </ul>
  </div>
</nav>
