<nav class="navbar">
  <div class="containerr">
    <a href="/" class="brand">CampusNotes</a>

    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" id="nav-links">
      <% if (!user) { %>
        <li><a href="/login-n" class="nav-a">Login</a></li>
        <li><a href="/register-n" class="nav-a">Signup</a></li>
      <% } else { %>
        <li><a href="/rankings" class="nav-a">Rankings</a></li>
        <li><a href="/profile" class="nav-a">Profile</a></li>
        <li><a href="/logout" class="nav-a">Logout</a></li>
      <% } %>
    </ul>
  </div>
</nav>
