<nav class="navbar">
  <div class="containerr">
    <a href="/" class="brand">CampusNotes</a>

    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" id="nav-links">
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/rankings">Rankings</a></li>
    </ul>
  </div>
</nav>
