<div class="error-page">
  
  <div class="emoji"><i class="fa-solid fa-ghost"></i>
 

<i class="fa-solid fa-skull-crossbones"></i> 


  <h1>404</h1>

  <p class="msg">Oops! The page you’re looking for doesn’t exist.</p>

  <a href="/" class="btn">Go Back Home</a>

  
</div>
